
{% extends "layout.html" %}
{% block content %}
  <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
    <div class="carousel-item active">
      <div class="carousel-container">
        
        
        <div class="content-section">
          
                  
        </div>


      </div>
    </div>
  </div>
{% endblock content %}

{% block extra %}
<legend class="border-bottom mb-4" style="color:aliceblue"> register </legend>
<form method="POST" action="">
  <fieldset class="form-group"> 
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.name.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.name}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.contact.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.contact}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.number.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.number}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.address.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.address}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.bloodgroup.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.bloodgroup}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.dob.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.dob}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.age.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.age}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_name.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_name}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_contact.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_contact}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_number.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_number}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_relation.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.ioe_relation}}                  
                  </div>

                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.password.label}}                  
                  </div>
                  <div class="active-pink-3 active-pink-4 mb-4" style="color:aquamarine;text-align: center;" >
                    {{form.password}}                  
                  </div>

                    

              </fieldset>
              <div class="form-group" style="text-align: center;">
                {{form.submit(class="btn btn-outline-info")}}
              </div>
          </form>

  {% endblock extra %}